{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:nestjs/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "nestjs"],
  "rules": {
    "semi": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "no-console": "off", // TODO:
    "import/no-unresolved": "off", // FIXME:
    "class-methods-use-this": "off" // FIXME:
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [2, { "args": "none" }]
      }
    }
  ]
}
